.blog{
    padding-top: 105px;
    padding-bottom: 217px;
    background-color: $navy;
    &-text{
        margin-top: 22px;
        max-width: 584px;
        margin-bottom: 58px;
    }
     
}
.worked{
   display:flex;
   justify-content: space-between;
   align-items: stretch;
   gap: 25px 48px;
    &-tag{
        margin-top: 14px;
        margin-bottom: 21px;
    }
    &-desc{
        max-width: 524px;
        margin-bottom: 54px;
    }
}
@media screen and (max-width: 767.98px) {
    .blog{
    padding-top: 50px;
    padding-bottom: 100px;
    }
    .worked{
        flex-direction: column;
    }
}