.contact{
    padding-top: 85px;
    padding-bottom: 135px;
    background-color: $blue;
    &-container {
        list-style: 1.2;
    }
    &-title{
      text-align: center;
      margin: 0 auto;
      max-width: 568px;
      margin-bottom: 40px;
    }
    &-bar{
        margin: 0 auto;
        margin-bottom: 24px;
    }
    .contact-address{
        display: grid;
        place-content: center;
      }
    
}