.footer{
    background-color: $navy;
    padding: 40px 0;
    &-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content{
        display: flex;
        align-items: center;
        gap: 0 10px;
    }
    &-text{
        color: $white;
    }
    &-media{
        display: flex;
        align-items: center;
        gap: 0 10px;
    }
}

@media screen and (max-width: 767.98px) {
    .footer-text{
        font-size: 10px;
    } 
}