body{
    line-height: 1;
    font-family: $font;
    font-weight: 400;
}
button{
    cursor: pointer;
    outline: none;
    border: none;
}
span{
    font-weight: 700;
}

// section {
//     margin-top: 35px;
//     margin-bottom: 35px;
// }

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
.text{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(36.1 / 16);
}
.bar {
    background-color: black;
    height: 2px;
    width: 40px;
    margin: 0 auto;
    &__sub{
        background-color: black;
        height: 2px;
        width: 371px;
        margin: 0 auto;
    }
}

.button{
    display: inline-block;
    font-family: $font;
    line-height: calc(21 / 14);
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    &__primary {
        padding: 12px 30px;
        background-color: black;
        color: #ffffff;
    }
    &__outline {
        width: 300px;
        padding: 12px 50px;
        background-color: #ffffff;
        border: 1px solid black;
        color: black;
    }
}
input[type=color] {
    width: 30px;
    height: 30px; 
    border-radius: 50%;
    overflow: hidden;
    border: none;

}
input[type=color]::-webkit-color-swatch {
    border: 1px solid rgb(179, 177, 177);
    padding: 5px;
    border-radius: 50%;
  }

  @media screen and (max-width: 1023.98px) {
    .bar {
        &__sub{
            width: 225px;
        }
    }
  }

  @media screen and (max-width: 767.98px) {
    .bar {
        &__sub{
            width: 70px;
        }
    }
  }

